.filter-section {
  display: flex;
  background-color: var(--light, #f5f5f5);
  width: 100%;
  padding: 10px;
}

.textfield-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 1rem 0;
}

.textfield-wrapper > label {
  color: var(--secondary, #37304b);
}

.textfield-wrapper > input {
  outline: none;
  border: 1px solid var(--secondary, #37304b);
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.textfield-wrapper:not(:last-child) {
  margin-left: 2rem;
}

.table-container {
  border-spacing: 2px;
  border-collapse: collapse;
  width: 100%;
}

.table-head {
  padding: 0 100px;
  background-color: var(--secondary, #37304b);
}

.table-row:nth-child(even) {
  background-color: var(--light, #f5f5f5);
}

.table-row > th,
td {
  text-align: center;
  vertical-align: middle;
  height: 80px;
  padding: 10px;
  width: 300px;
  max-width: 100%;
  min-width: 200px;
}
.table-row > th:first-child,
td:first-child {
  text-align: right;
}

.table-row > th {
  color: var(--light, #f5f5f5);
  font-weight: bold;
}
.table-row > td {
  color: var(--secondary, #343a40);
}
