:root {
  /* defined background colors */
  --primary: #fed813;
  --secondary: #37304b;
  --light: #f5f5f5;
  --white: #ffffff;
  --black: #000000;
}

/* Bootstrap Strategy */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: var(--light, #f5f5f5);
  width: var(--w-100, 100%);
}

.textfield-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 1rem 0;
}

.textfield-wrapper > label {
  color: var(--secondary, #37304b);
}

.textfield-wrapper > input {
  outline: none;
  border: 1px solid var(--secondary, #37304b);
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.textfield-wrapper:not(:last-child) {
  margin-left: 2rem;
}

.table-container {
  border-collapse: collapse;
  padding: 10px 10px;
  width: 100%;
}

.table-head {
  background-color: var(--secondary, #37304b);
}

tr:nth-child(even) {
  background-color: var(--light, #f5f5f5);
}

.table-container td,
th {
  text-align: center;
  vertical-align: middle;
  height: 80px;
}

.table-container th {
  color: var(--light, #f5f5f5);
  font-weight: 500;
}
.table-container td {
  color: var(--secondary, #343a40);
}
