:root {
  /* defined background colors */
  --bg-primary: #fed813;
  -bg-secondary: #2fbeaa;
  --bg-light: #f5f5f5;
  --bg-white: #ffffff;
  --bg-black: #000000;
}

/* Bootstrap Strategy */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.filter-section {
  display: flex;
  background-color: var(--bg-light, #f5f5f5);
  width: var(--w-100, 100%);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 1rem 0;
}

.input-wrapper > input {
  outline: none;
  border: 1px solid;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.input-wrapper:not(:last-child) {
  margin-left: 2rem;
}
